<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/?lang=en"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.threads.net/?hl=en"><i class="fa-brands fa-square-threads"></i></a>
        </div>
        <div class="f-info-brand">&copy Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>